{% extends '::base.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact Breezy Studios</h1>
    </header>

    <p>Want to contact Breezy Studios?</p>
{% endblock %}
